body {
  font-family: 'Orbitron', sans-serif;
}

.guest-display {
  font-size: 1.5rem;

  color: white;
  font-size: 1.5rem;
  text-shadow: 0 0 5px white;

  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  margin: 6px;
}
.wrapper-text-employee {
  display: flex;
  justify-content: space-between;
}

.wrapper-text-employee span {
  color: white;
  font-size: 1.5rem;
  text-shadow: 0 0 5px white;
  width: 100%;

  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  margin: 6px;
}
.wrapper-text-employee span:last-child {
  text-align: right;
}

.employee-display {
  color: white;
  font-size: 1.5rem;
  text-shadow: 0 0 20px black;

  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  margin: 6px;
}
